[2018-01-11 18:18] stijnfrishert opened #1 "-f can take folders as well"

[2018-01-11 18:18] stijnfrishert opened #2 "If not all projects fit in a sav on import, let the user know"

[2018-01-11 18:19] stijnfrishert opened #3 "--print outputs format version"

[2018-01-28 13:07] #1 closed, assigned to stijnfrishert

[2018-01-30 20:22] stijnfrishert opened #4 "lsdsng-import shouldn't crash if a file isn't an actual lsdsng"

[2018-03-12 16:45] stijnfrishert opened #5 "Read Drum max B-A"

[2018-03-13 15:22] stijnfrishert opened #6 "lsdsng-export flag for exporting by name instead of index"

[2018-03-13 15:35] stijnfrishert opened #7 "lsdsng-export flag for exporting the worming memory song"

[2018-03-22 14:21] urbster1 opened #8 "lsdsng-import: name the sav after the lsdsng name"
If only one file like 'song.lsdsng' is used plainly with no arguments, lsdsng-import should default to naming the output file 'song.sav' rather than 'out.sav' to avoid confusion/overwriting any previous .sav's (and reserve 'out.sav' for uses with 2 or more .lsdsng's)

[2018-04-27 10:46] #5 closed, assigned to stijnfrishert

[2018-04-27 10:46] #3 closed, assigned to stijnfrishert

[2018-04-27 11:39] #4 closed, assigned to stijnfrishert

[2018-04-27 11:56] #6 closed, assigned to stijnfrishert

[2018-04-27 13:24] #7 closed, assigned to stijnfrishert

[2018-04-27 13:34] #8 closed, assigned to stijnfrishert

[2018-04-27 13:34] stijnfrishert opened #9 "lsdsng-mono, makes every stereo song mono"
Requires #13 and #14.

[2018-04-27 14:05] urbster1 opened #10 "lsdsng-import working memory song fails to play on .sav load"
the first song in the .sav which has been loaded into working memory will refuse to play unless reloaded from the LSDJ save/load menu

[2018-04-27 16:20] stijnfrishert opened #11 "--name parameter for lsdsng-export should be case insensitive"

[2018-04-27 16:27] stijnfrishert opened #12 "Working memory song after import doesn't play"

[2018-04-27 16:29] #12 closed, assigned to stijnfrishert

[2018-04-27 16:29] #11 closed, assigned to stijnfrishert

[2018-04-27 18:49] #10 closed, assigned to stijnfrishert

[2018-04-29 09:14] stijnfrishert opened #13 "Expose instrument data in API"

[2018-04-29 09:15] stijnfrishert opened #14 "Expose table data in API"

[2018-05-14 15:44] stijnfrishert opened #15 "Support for variable Q from 6.3.0 on"
...is this a new format change (probably not)?

[2018-06-04 18:13] urbster1 opened #16 "Support for TRANSPOSE switch and DRUM P/L/V from 6.3.4"

[2018-06-08 15:18] #15 closed

[2018-06-26 14:43] urbster1 opened #17 "lsdsng-import -f ignore subfolders (and non-.lsdsng files)"
if there are .lsdsng's in a folder and -f is used, if there is a subfolder in the same folder, lsdsng-import will throw an error that the subfolder cannot be opened for reading

[2018-06-27 08:45] stijnfrishert commented on #17
Duly noted. It should just pull all .lsdsng's from all sub(-sub-sub-sub)-folders?

[2018-06-27 14:53] stijnfrishert commented on #17
And then disregard anything that isn't an .lsdsng

[2018-06-27 14:55] urbster1 commented on #17
i think so. that way for instance if there is a .sav in there it won't get
added without explicit -s

On Wed, Jun 27, 2018 at 10:53 AM, Stijn Frishert <notifications@github.com>
wrote:

[2018-06-27 15:22] urbster1 commented on #17
but also it won't cause an error

On Wed, Jun 27, 2018 at 10:55 AM, Aaron U <urbster1@gmail.com> wrote:

[2018-06-27 17:53] stijnfrishert commented on #17
Fixed (will be there for next build)!

Also ignores hidden files now (starting with a dot on unix).

[2018-06-27 17:53] #17 closed

[2018-06-27 18:29] stijnfrishert commented on #16
So what _precisely_ changed in 6.3.4? @urbster1

[2018-06-27 18:30] urbster1 commented on #16
there is now DRUM/FAST/TICK/STEP for P/L/V (except no DRUM for kits), and
TRANPOSE was returned to its former ON/OFF glory

On Wed, Jun 27, 2018 at 2:29 PM, Stijn Frishert <notifications@github.com>
wrote:

[2018-06-29 06:04] stijnfrishert commented on #16
I think we've got this, and pre 6.3.4. covered now. It's a bit of a mess (in Johan's own words), but we should be good.

If not, we'll find out when starting to expose the instrument interface and fix it. Rather certain the latest change doesn't screw over .lsdsng I/O at least.

[2018-06-29 06:04] #16 closed

[2018-06-29 10:35] #14 closed

[2018-06-29 10:35] stijnfrishert commented on #13
Exposed enough for #9

[2018-06-29 10:35] #13 closed

[2018-06-29 11:13] stijnfrishert opened #18 "Any file ending with .WM.lsdsng should become the working memory song on import"
**if no working memory song is specified with a command line flag.**

[2018-06-29 11:14] stijnfrishert opened #19 "lsdsng-import should ignore any file that doesn't end on .lsdsng"

[2018-06-29 11:18] stijnfrishert commented on #19
Fixed with https://github.com/stijnfrishert/liblsdj/commit/025a08b47f984e95092adf9d2d59b979c7052c72

[2018-06-29 11:18] #19 closed

[2018-06-29 11:48] #18 closed

[2018-06-29 12:03] stijnfrishert opened #20 "Abstract away common tool stuff, like isHiddenPath()"

[2018-06-29 12:45] stijnfrishert commented on #9
- [ ] Flag for leaving OLR, or emptying command
- [ ] Flag for _just edit instruments_
- [ ] Flag for _just edit tables_
- [ ] Flag for _just edit phrases

[2018-06-29 20:45] #9 closed

[2018-06-29 20:46] stijnfrishert opened #21 "Have all --verbose output state what the output files are"

[2018-06-29 20:50] stijnfrishert opened #22 "Expose wavetable data for future tools"

[2018-07-05 10:07] stijnfrishert opened #23 "Add constant defines for all other commands besides O"

[2018-07-18 17:49] urbster1 opened #24 "lsdsng-tools change KIT P/L/V from FAST to STEP"
Using lsdsng-export and lsdsng-import on this .sav changes KIT instrument 26 from FAST to STEP.
https://defensemech.com/REVISION.sav

[2018-07-23 22:41] urbster1 opened #25 "New FOLD setting support for wave synth in v6.6.2+"

[2018-07-26 22:40] urbster1 commented on #24
tested and it seems lsdsng-export is the culprit. also showing weird garbled instrument names for some instruments

[2018-07-26 23:14] urbster1 commented on #24
Here's what I think (and feel free to delete this bug and create an enhancement) - lsdsng-export and -import should be entirely version-agnostic. They should only deal with compression/decompression and reading bytes for song titles/version numbers. A new tool should be created to convert songs between versions.

[2018-07-26 23:36] urbster1 commented on #24
also, it's naming all of the instruments after the last instrument or something. I dunno, something really strange is going on lol

[2018-07-27 11:54] stijnfrishert commented on #24
Gonna keep this issue, because the bug is still a bug even if we split this off in different tools. I'll create another issue for that.

[2018-07-27 12:10] urbster1 commented on #24
The names don't seem to be garbled in v1.0. It also seems like the volume
col in tables is getting weird data. I can provide another example lsdsng
if that will help

On Fri, Jul 27, 2018, 7:54 AM Stijn Frishert <notifications@github.com>
wrote:

[2018-07-27 12:24] stijnfrishert opened #26 "lsdsng-import/export shouldn't change versions"
We could possibly create a different tool to change version numbers for lsdsng's.

@urbster1 Problem though, what is the format version of the .sav output on import? The individual lsdsng's could have different versions.

[2018-07-27 12:32] stijnfrishert commented on #26
Oh wait that's the project version that's stored in lsdsng. Right!

[2018-08-03 13:34] stijnfrishert commented on #24
Fixed PLV, but turns out loop2 was also written incorrectly. Both are fixed

[2018-08-03 13:41] #24 closed

[2018-08-03 13:42] stijnfrishert opened #27 "Instrument names are garbled"
Apparently instrument names are garbled in v1.1. I've tried lsdsng-export myself, but it seems to be working fine (import uses the same read/write code).

@urbster1 Could you provide a pre-tooling .sav that demonstrates this behaviour?

[2018-08-03 13:46] stijnfrishert opened #28 "New LIMIT setting support for wave synth in v6.6.2+"

[2018-08-03 14:05] urbster1 commented on #27
try this one (rename from .txt to .sav)
[Dnb(2).sav.txt](https://github.com/stijnfrishert/liblsdj/files/2257604/Dnb.2.sav.txt)

[2018-08-03 14:06] urbster1 commented on #27
should lsdsng-export output be bit-exact with LSDManager?

[2018-08-03 14:12] #25 closed

[2018-08-03 14:12] urbster1 commented on #28
guess I should also add to include new dist setting (FOLD)

[2018-08-03 14:13] #28 closed

[2018-08-03 14:13] stijnfrishert commented on #28
Hah yeah, that's another issue (but also closed already)

[2018-08-03 14:14] stijnfrishert commented on #27
No it shouldn't; LSDManager actually doesn't follow the official rules of the compression algo described on the wiki and lsdsng-export does, so there's bound to be a few bits off. But (apart from any bugs) those off bits are in the compression data, not the...compressee data.

[2018-08-03 14:26] urbster1 commented on #28
oh derp

On Fri, Aug 3, 2018 at 10:25 AM, Stijn Frishert <notifications@github.com>
wrote:

[2018-08-03 14:26] stijnfrishert commented on #27
Fixed!

[2018-08-03 14:26] #27 closed

[2018-08-03 14:27] urbster1 commented on #27
ahaha oops

On Fri, Aug 3, 2018 at 10:25 AM, Stijn Frishert <notifications@github.com>
wrote:

[2018-08-03 14:28] #22 closed

[2018-08-03 14:36] urbster1 commented on #27
thanks!

On Fri, Aug 3, 2018 at 10:34 AM, Stijn Frishert <notifications@github.com>
wrote:

[2018-08-07 14:41] 8lall0 opened #30 "How (de)compression works?"
Hi,
that's not an issue but i dunno where i can ask.

How decompression/compression works? I'm trying to port this library to golang and i'm not understanding very well the algorithm...

Thanks!

[2018-08-07 16:04] stijnfrishert commented on #30
Hey @8lall0! No problem, you're welcome to ask. :) Everything can be found on the [wiki](http://littlesounddj.wikia.com/wiki/File_Management_Structure), but I was confused too at first.

LSDJ sav format (de)compression is basically [run-length encoding](https://en.wikipedia.org/wiki/Run-length_encoding) with some extra's, so I'd start with reading up on that if you're unfamiliar. The simple idea i

[2018-08-07 17:53] 8lall0 commented on #30
Very nice, thanks!

Right now i achieved something that makes kinda sense, my uncompressed song is 32773 bytes (5 too much)...
I think it has something to do about blocks.

Starting from the lsdsng file, i saw this line of code:
`if (block1position)
	*currentBlockPosition = *block1position + (long)((byte - 1) * blockSize);
else
	*currentBlockPosition += blockSize;

if (rvio->seek(*currentBlockPosi

[2018-08-08 06:04] stijnfrishert commented on #30
Nice, sounds like you're on the right track! (De)compression is probably the part of liblsdj that took me the most time to get right. It's been a while I've tackled the topic, but if I remember everything correctly here's some more pointers (no pun intended):

Yes! Oh and `0xE0, 0xE0` isn't also a special case.

It's important to realise what "the beginning" is from where block memory is computed.

[2018-08-08 11:30] 8lall0 commented on #30
Hello and thanks for your time!

A couple of things:

- i made public my [repo](https://github.com/8lall0/liblsdj)

- i'm dealing with this:
`
    union
    {
        struct
        {
            unsigned char pulse1[LSDJ_BOOKMARK_POSITION_COUNT];
            unsigned char pulse2[LSDJ_BOOKMARK_POSITION_COUNT];
            unsigned char wave[LSDJ_BOOKMARK_POSITION_COUNT];
            unsigned char

[2018-08-08 11:50] stijnfrishert commented on #30
Yay! Looks neat!

I believe they're stored as a two-dimensional array of 4x16 (16 bookmarks per channel). Support for bookmarks is fairly new, I've frankly yet to test whether this is completely correct.

Basically it's just going through the chain allocation table to see which chains are in use and which are not. Every bit is either 0 or 1 and tells you whether the chain is active. So I'm dividin

[2018-08-10 15:04] 8lall0 commented on #30
Ok, now i'm getting the right number when i "decompress" the song.

Now what's the flow to obtain the save file? I read those uncompressed data into a song structure and then...?

[2018-08-10 17:31] stijnfrishert commented on #30
Obtain what save file? I'm afraid I don't really understand :/

[2018-08-12 20:28] stijnfrishert opened #31 "Incorporate changes of 6.7.0 and 6.8.0 (WAV speed and length)"
http://littlesounddj.wikia.com/index.php?title=.sav_structure&diff=5227&oldid=5214

[2018-08-12 20:29] #20 closed

[2018-08-12 20:29] #21 closed

[2018-08-20 11:27] 8lall0 commented on #30
Ops, sorry, you're right :P

Now i'm getting a correct (i think) decompressed song, it's 32768 bytes long and the RB check is fine.

Now to write this song to a sav file, what's the deal?

[2018-08-23 06:05] urbster1 commented on #31
unfortunately this was a format-breaking change and wave instruments no longer import/export properly on 6.8.0

[2018-09-02 00:06] urbster1 commented on #31
may as well make this 6.8.1 since now grooves are also changed!

[2018-09-03 10:46] stijnfrishert commented on #31
Could you make that into a new issue? I like to keep these things seperated.

[2018-09-03 10:49] stijnfrishert commented on #30
@8lall0 have you looked at the wiki? I'm frankly a bit too caught up in work to walk you through the entire process, but .sav is basically

1) First 0x8000 bytes is the working memory song uncompressed
2) 0x8000-0x8200 is meta data about all the projects
3) 0x8200+ is blocks for all the project data

[2018-09-03 12:14] 8lall0 commented on #30
Thank for your help!

I'll figure out, your hint is exactly what i needed :)

[2018-09-04 16:52] urbster1 commented on #31
no

On Mon, Sep 3, 2018 at 6:46 AM, Stijn Frishert <notifications@github.com>
wrote:

[2018-09-04 16:54] urbster1 opened #32 "Incorporate 6.8.1+ groove change"
Groove lines are now full bytes instead of half bytes (1-FF instead of 1-F)
warning: 6.8.1 is bugged and allows groove digit to be set to 00 instead of 01 as minimum so expect 6.8.2 soon

[2018-09-05 08:38] stijnfrishert commented on #31
Perfect

[2018-09-12 08:10] stijnfrishert commented on #31
Ok, so apparently this changed in 6.7.0 and not 6.8.0, but Johan has eradicated 6.7.0 from existence. Still, and I put this here for future reference: the wav speed changed with format version 6.

6.8.0 moves to fmt version 7, presumably for the groove changes, but WAV speed already changed at v7.

[2018-09-13 06:34] #32 closed

[2018-09-13 06:34] stijnfrishert commented on #32
Grooves already were saved a byte per line, so nothing changed here.

[2018-09-13 06:35] stijnfrishert commented on #31
WAV Speed and length changed in 6.7.0 (v6) and then again in 6.8.0 (v7) because the defaults were wrong.

[2018-09-13 07:34] #31 closed

[2018-09-13 07:35] stijnfrishert commented on #30
@8lall0 I am closing this issue as solved. If you have any more questions feel free to reach out again :)

[2018-09-13 07:35] #30 closed

[2018-09-13 19:38] stijnfrishert opened #33 "Add a y/n check to wavetable import if you're not writing to the default wavetable"

[2018-09-13 19:38] stijnfrishert opened #34 "Add -o flag for output .lsdsng for wavetable import"

[2018-09-16 17:07] stijnfrishert opened #35 "Synth index param of wavetable import should accept both hex and dec"
Because 0xF is the highest, 10+ can always be interpreted as binary

[2018-09-16 21:11] stijnfrishert opened #36 "-zero flag to pad empty frames"

[2018-09-16 21:11] #36 closed

[2018-09-18 18:42] #33 closed

[2018-09-18 18:43] stijnfrishert opened #37 "Add --force flag to suppress overwriting warning"

[2018-09-18 18:45] #37 closed

[2018-09-18 18:49] #35 closed

[2018-09-18 18:49] stijnfrishert opened #38 "Accept .snt's bigger than 256"

[2018-09-18 19:01] #38 closed

[2018-09-18 19:11] #34 closed

[2018-09-18 19:12] stijnfrishert opened #39 "A flag for wavetable import to specify a frame instead of a synth"

[2018-09-20 14:51] urbster1 opened #40 "lsdj-deep-clean tool"
It would be really nice to have a tool that would reduce duplicate tables/instruments to single instances, and reduce phrases that are equivalent when transpose is applied, and apply appropriate TSP value in chain transpose column (comparison between phrases should ignore pulse/wave instruments with transpose=off).

Presumably, if table clean is applied before instrument clean which is applied bef

[2018-09-20 14:54] urbster1 commented on #40
Flags could be --instruments/-i, --phrases/-p, --tables/-t, --transpose/???
Default=remove all dups?
After cleaning, report output of how many dups were removed and which ones

Could take entire .sav or single .lsdsng

[2018-09-24 15:15] urbster1 commented on #39
-w for wavetable

[2018-09-25 08:42] stijnfrishert commented on #40
Exactly what I had in mind, yes. This would come be such a nice "post-processing" step before album release or something.

[2018-09-25 11:41] urbster1 commented on #40
Yeah I was just thinking yesterday how nice it would be to de-duplicate
chains

On Tue, Sep 25, 2018, 4:42 AM Stijn Frishert <notifications@github.com>
wrote:

[2018-09-26 06:10] #39 closed

[2018-11-06 16:33] urbster1 opened #41 "lsdj-wavetable-import save support"
I just thought it would be nice if we don't bother to worry about which song we're patching into, just patch directly into whatever is in the save file working memory

[2018-11-06 16:54] urbster1 opened #42 "lsdj-wavetable-import: trying to write noise.snt doesn't create all values properly"
trying to write this .snt into this save file doesn't create the values as saved in the .snt

[snttest.zip](https://github.com/stijnfrishert/liblsdj/files/2554182/snttest.zip)

[2018-11-07 18:07] stijnfrishert commented on #42
Thanks, will look at this when I find the time :)

[2018-11-27 19:07] stijnfrishert commented on #42
Ehm, it does on my end?

You double checked with a hex editor if they correspond? If not, are some frames incorrect, or all of them?

I used `lsdj-wavetable-import "./(EMPTY).00.WM.lsdsng" "./noise.snt" 0`

[2018-11-27 19:11] urbster1 commented on #42
let me check this again...

On Tue, Nov 27, 2018 at 2:07 PM Stijn Frishert <notifications@github.com>
wrote:

[2018-11-27 19:22] urbster1 commented on #42
I used `lsdj-wavetable-import.exe` (EMPTY).00.lsdsng noise.snt 7` and got this save. notice how frames 75-7F are the same but should be different...
[(EMPTY).00.lsdsng.zip](https://github.com/stijnfrishert/liblsdj/files/2621530/EMPTY.00.lsdsng.zip)

[2018-11-28 08:32] stijnfrishert commented on #42
Ok thanks, I'll check with these settings! .lsdsng is compressed yes, so you wouldn't be able to copy/paste in the wavetable manually. (I was just talking about comparing hex in the .snt with the visual byte values surrounding the waves in lsdj).

[2018-11-28 13:20] urbster1 commented on #42
gotcha, thanks!

On Wed, Nov 28, 2018 at 3:32 AM Stijn Frishert <notifications@github.com>
wrote:

[2018-12-04 21:09] stijnfrishert commented on #42
Ok, weird stuff is happening, because on my system it totally runs fine (I did use --force). How many frames does the cmd line say it wrote after execution?

[2018-12-04 21:12] urbster1 commented on #42
what if you don't use force but just use 'y' at the prompt? let me run
again and see

On Tue, Dec 4, 2018 at 4:09 PM Stijn Frishert <notifications@github.com>
wrote:

[2018-12-04 21:14] urbster1 commented on #42
`Some of the wavetable frames you are trying to overwrite already contain data. Do you want to continue? y/n

Successfully wrote 16 frames starting at 96 to (EMPTY).00.lsdsng`

[2018-12-04 21:15] stijnfrishert commented on #42
I'll try without force. Also, did you use another index than 7 this time, because otherwise that 96 doesn't make sense.

[2018-12-04 21:16] urbster1 commented on #42
Screenshots of the hex values
![image](https://user-images.githubusercontent.com/5685593/49473362-d817b480-f7df-11e8-9da8-4ae60fb2c4b6.png)
![image](https://user-images.githubusercontent.com/5685593/49473379-e4037680-f7df-11e8-956d-b7a76fee4c5f.png)

[2018-12-04 21:17] urbster1 commented on #42
yeah sorry i used 6. but it's doing the same thing

On Tue, Dec 4, 2018 at 4:15 PM Stijn Frishert <notifications@github.com>
wrote:

[2018-12-04 21:17] urbster1 commented on #42
could it be an issue with lsdsng-import then? i have no way to check if it's valid in the lsdsng itself

[2018-12-04 21:18] stijnfrishert commented on #42
Can you send just the exported .lsdsng?

[2018-12-04 21:19] urbster1 commented on #42
[(EMPTY).00.zip](https://github.com/stijnfrishert/liblsdj/files/2646163/EMPTY.00.zip)

[2018-12-04 21:35] urbster1 commented on #42
ok! very weird. thanks!

[2018-12-05 03:14] urbster1 opened #43 "lsdsng-export should ignore (EMPTY) songs in saves"
Older versions allowed for (EMPTY) songs in between saved songs, but these should probably not be exported

[2018-12-07 21:00] stijnfrishert commented on #42
Problem was that the file wasn't opened as binary

[2018-12-07 21:00] #42 closed

[2019-01-17 20:18] urbster1 opened #44 "Wildcard support for lsdsng-tools"
Does Boost support e.g. `lsdsng-export -p *.sav`?

[2019-01-18 09:19] stijnfrishert commented on #44
Nope, don't think so. But we could have this work with folders, and then print all sav's inside?

[2019-01-18 12:59] urbster1 commented on #44
That would be good too!

On Fri, Jan 18, 2019, 4:19 AM Stijn Frishert <notifications@github.com>
wrote:

[2019-01-25 05:00] urbster1 opened #45 "When importing folder, name save after folder name by default"
If lsdsng-import is used to compile a folder of lsdsng's into a save file, it would be great if the name of the save file was the folder name by default and not the name of the first lsdsng in that folder :)

[2019-01-25 08:12] stijnfrishert commented on #45
Totally agree!

[2019-01-25 08:12] stijnfrishert commented on #45
Several issues are lining up for a next update, I'll see when I can find the time :)

[2019-01-25 08:15] stijnfrishert commented on #41
Yeah, perhaps leaving out the song index means working memory song

[2019-01-25 21:03] urbster1 opened #46 "When importing and appending to save, assume same save for output"
Can we assume when a user specifies -s save.sav that save.sav will also be the output save unless -o is provided? As is, using -s without -o causes no changes.

[2019-01-25 21:04] urbster1 commented on #45
Can you tell I'm trying to organize my stuff for an upcoming set? ;)

[2019-01-25 21:07] urbster1 commented on #45
honestly instead of making these issues I should just learn to submit pull requests and make your life easier

[2019-01-30 01:14] urbster1 commented on #41
I came here to add this as an issue and it's already been added! hahaha XD

[2019-01-30 01:15] urbster1 commented on #41
Just to clarify, I definitely think we should only worry about the working memory song and not worry about requiring an index. Open to feedback on that

[2019-01-30 10:45] stijnfrishert commented on #41
Well, it's already in there so why not make that opt-in for the occasional use?

[2019-01-31 20:01] #45 closed

[2019-01-31 20:10] #46 closed

[2019-01-31 20:11] stijnfrishert commented on #43
Hmm, could you get me one of those savs? Need to know how those empty savs are represented in memory to be able to check for them.

[2019-01-31 20:16] stijnfrishert commented on #41
Ok, wait. But right now this tool only imports into .lsdsng's, right? So what you're suggesting is another mode in which it takes in a .sav and patches into the wm song?

[2019-01-31 20:17] urbster1 commented on #43
sure
[lsdj495sav.zip](https://github.com/stijnfrishert/liblsdj/files/2818884/lsdj495sav.zip)

[2019-01-31 20:36] stijnfrishert commented on #44
Printing a folder will print all .sav files within it :)

[2019-01-31 20:36] #44 closed

[2019-01-31 20:39] urbster1 commented on #44
Thanks!!

On Thu, Jan 31, 2019 at 3:36 PM Stijn Frishert <notifications@github.com>
wrote:

[2019-01-31 20:45] stijnfrishert commented on #41
Ok, makes sense. Will do.

[2019-01-31 20:46] stijnfrishert commented on #43
Thanks!

[2019-01-31 20:47] urbster1 commented on #43
if that one doesn't work let me know and I'll try with a different one

[2019-01-31 21:07] stijnfrishert opened #47 "Possibility to check whether something is a valid .sav"

[2019-01-31 21:07] stijnfrishert opened #48 "Possibility to check whether something is a valid .lsdsng"

[2019-01-31 21:07] stijnfrishert opened #49 "Instrument export/import tools"

[2019-01-31 21:13] #41 closed

[2019-02-13 00:07] urbster1 opened #50 "Change lsdj-wavetable-import parameters, because they're confusing"
Update help text to include

1. .sav save file working memory import (does -o functionality need to change?)

also

 2. I was thinking of otherwise revamping the arguments. I remember having a discussion earlier about providing arguments but after using it I realized I would really much rather provide a couple flags instead of using argument index. it seems simpler if usage looks more like this `w

[2019-02-13 08:07] stijnfrishert commented on #50
Agreeing on the "can't remember the order" part. Let's change that for 1.2.3.

[2019-04-01 18:10] urbster1 commented on #40
not sure if this deserves its own issue so I'm throwing it in here: a way to display information about song(s). specifically I'm interested in what's unused, for instance if a phrase contains data but is not used in the song, it would be interesting to find out before it's cleaned. toasterpastries also suggested it would be useful to find out which sample kits are being used, presumably throughout

[2019-04-02 08:28] stijnfrishert commented on #40
Yes, both good suggestions!

So what do you think: separate tool called `lsdj-inspect` or something to output information about any .sav or .lsdsng? Print functionality from export could perhaps also be moved in there.

Then export and import would be literally just for export and import. Clean for cleaning, mono for mono...izing.

[2019-04-09 15:39] urbster1 opened #51 "lsdsng-import save file merging"
Since we're already accepting .sav as input to glom .lsdsng's onto, why not accept multiple sav's to merge together?

[2019-05-27 13:26] stijnfrishert opened #52 "Ability to delete a song"

[2019-05-27 13:35] stijnfrishert opened #53 "Let lsdj_project_write_lsdsng_to_memory() return the size"

[2019-05-27 13:35] stijnfrishert opened #54 "LSDJ_PROJECT_MAX_SIZE"
People don't always know how big the buffer should be they pass to `lsdj_project_write_lsdsng_to_memory()`

[2019-05-29 06:26] stijnfrishert commented on #54
Added `LSDSNG_MAX_SIZE`.

[2019-05-29 06:26] #54 closed

[2019-05-29 06:41] stijnfrishert commented on #53
Done! All three funcs (memory, file and vio) return a `size_t`.

[2019-05-29 06:41] #53 closed

[2019-05-29 06:51] stijnfrishert commented on #52
`lsdj_sav_erase_project()`

[2019-05-29 06:51] #52 closed

[2019-05-31 18:15] urbster1 opened #55 "lsdsng-export print song tempo"
request to also show song tempo when -p is used

[2019-06-27 03:12] urbster1 opened #56 "lsdsng-import should ignore .WM.lsdsng in filename"
if more than 1 lsdsng is imported, just put the first one in working memory. as-is, WM files don't append to the save file and if more than 1 WM lsdsng is imported, one of them gets lost.

[2019-07-10 10:04] stijnfrishert commented on #56
- What do you mean with "don't append"?
 - If more than one WM lsdsng is imported I'd argue you're doing something weird in the first place :p

But yeah, makes sense to just select the first lsdsng as WM. Why just with more than 1 though?

[2019-07-10 10:19] stijnfrishert commented on #55
Sure, easy to add

[2019-07-10 13:36] #47 closed

[2019-07-10 13:36] stijnfrishert commented on #48
Not really possible (there's no magic numbers), but there's some heuristics we could use.

[2019-07-10 13:56] urbster1 commented on #56
I had 2 saves and I wanted to merge them together and use the songs in
working memory from both, that's why. Found out that one of them got placed
into working memory only, but not the save itself, and the other one didn't
add at all. Maybe it's worth checking to see if 2 song names are identical
but one has WM and the other doesn't?

On Wed, Jul 10, 2019 at 6:04 AM Stijn Frishert <notifications@g

[2019-07-10 13:59] #48 closed

[2019-07-10 14:09] #55 closed

[2019-07-19 20:02] stijnfrishert commented on #2
Apparently import already let the user know, but then corrupted your sav. Doesn't anymore now :)

[2019-07-19 20:02] #2 closed

[2019-07-19 20:19] stijnfrishert commented on #26
From what I can see lsdsng-export writes the lsdsng's keeping the individual song format versions intact.

[2019-07-19 20:23] stijnfrishert commented on #26
...and so does lsdsng-import. So I guess I made this in vain, or perhaps already fixed it in the past!

[2019-07-19 20:23] #26 closed

[2019-07-19 20:28] urbster1 commented on #26
Yeah I'm not sure what I was thinking, I might have opened this? either
way, it doesn't mess with version

On Fri, Jul 19, 2019 at 4:23 PM Stijn Frishert <notifications@github.com>
wrote:

[2019-07-19 20:52] stijnfrishert commented on #50
@urbster1 Started working on this.

[2019-07-19 21:05] urbster1 commented on #50
Thanks!

On Fri, Jul 19, 2019, 4:52 PM Stijn Frishert <notifications@github.com>
wrote:

[2019-07-25 11:45] stijnfrishert commented on #26
Thanks for confirming :)

[2019-08-01 12:47] stijnfrishert commented on #50
I think this is done, but could you do some testing, @urbster1? I'll be able to send a build tonight probably.

[2019-08-01 13:06] urbster1 commented on #50
Sure!

On Thu, Aug 1, 2019, 8:47 AM Stijn Frishert <notifications@github.com>
wrote:

[2019-08-01 13:14] stijnfrishert commented on #51
Makes sense!

[2019-08-04 15:25] stijnfrishert opened #57 "Version should be shown in help screen"

[2019-08-04 15:26] #57 closed

[2019-08-05 16:31] urbster1 commented on #50
ok so given that using flags doesn't make sense if the parameters aren't optional, can we detect what's what based on file extension so that we can put a .snt file in a .sav/.lsdsng regardless of order?

[2019-09-20 18:37] #50 closed

[2019-10-22 13:04] stijnfrishert opened #59 "Look into using a boost alternative"
- Distribute boost along
 - std::filesystem
 - https://github.com/cginternals/cppfs
 - more?

[2019-10-28 18:43] urbster1 opened #60 "lsdsng-export giving error 'rb not found at 0x7FF0'"
however you will find rb at 0x7FF0. save attached
[Ganondorofu - Black Hopes Of Yellow Dreams - BHOYD lsdj v6_8_4 (1).zip](https://github.com/stijnfrishert/liblsdj/files/3780166/Ganondorofu.-.Black.Hopes.Of.Yellow.Dreams.-.BHOYD.lsdj.v6_8_4.1.zip)

[2019-10-28 20:35] urbster1 commented on #60
per discussion that was only the song in working memory. but the 'rb' byte situation will be revisisted

[2019-11-06 09:24] stijnfrishert commented on #60
Discussed with Johan; he's updating LSDJ to write the three 'rb' locations on every new song, and I'll loosen the check to pass if any of the three locations has been written (which is what LSDj does too)

[2019-11-06 11:19] #60 closed

[2019-12-06 20:59] urbster1 opened #61 "lsdsng-import shouldn't ignore FX/SPEED"
i thought instrument data was supposed to carry the whole chunk when importing? maybe something is weird but FX/SPEED was reset to 0 for inst 0E in this song. lsdsng (from LSDManager) and sav from lsdsng-import included. tested in v7.1.4
[4thsriff.zip](https://github.com/stijnfrishert/liblsdj/files/3933947/4thsriff.zip)

[2019-12-06 20:59] urbster1 commented on #61
FX/SPEED should show 1 for inst 0E (not zero)

[2019-12-06 21:29] urbster1 opened #62 "lsdsng-export -f argument not working"
i got a weird error that it couldn't create a folder
[code]

[2019-12-06 21:29] urbster1 commented on #62
i was running the command line as administrator so there was no reason for it to fail...

[2020-01-04 11:19] stijnfrishert commented on #62
Thanks, I'll take a look when I find the time!

[2020-01-04 11:19] stijnfrishert commented on #61
Thanks, I'll take a look when I find the time!

[2020-01-14 17:40] urbster1 commented on #59
std::fs is c++17+ so i would great appreciate this :)

[2020-01-14 17:50] urbster1 commented on #40
ok so per our discussion in facebook earlier:

1. synth dedup is not possible nor wanted
2. phrase dedup + adding tsp might be tricky and not worth it
3. LSDJ does not dedup tables, chains, or instruments so these should be the focus for v1.0
4. maybe it's best to just request #3 as a feature native to LSDJ

[2020-01-17 12:07] stijnfrishert commented on #59
https://github.com/gulrak/filesystem

[2020-01-18 19:23] stijnfrishert commented on #59
Went got ghc::filesystem and popl

[2020-01-18 19:23] #59 closed

[2020-01-18 19:45] stijnfrishert opened #63 "lsdsng-import takes over filename in case of just a single lsdsng"

[2020-01-18 19:46] #63 closed

[2020-01-18 20:04] #62 closed

[2020-01-18 20:22] stijnfrishert opened #64 "Split up decompression and parsing into two steps in the interface"

[2020-01-25 09:24] stijnfrishert opened #65 "lsdsng-export should have an option to skip the working memory song"

[2020-01-27 16:02] urbster1 opened #66 "New tool: Random song"
a new tool to generate a random song with randomized instrument parameters, tables, notes in phrases, etc. this would be insane if it works!

[2020-01-29 09:55] stijnfrishert commented on #66
Hahaha I really, really like this idea actually

[2020-01-29 10:24] stijnfrishert opened #67 "Future proof the instrument system"
- [x] Don't immediately parse instruments, just store their bytes and the format version
  - Storing the version allows us to reject/migrate instruments moving between songs of different formats.
- [x] Provide accessor functions to read data from an instrument.
  - These should be in the form `bool lsdj_instrument_read_envelope(instr, char** envelope)`
  - The fmt version can be used to branch
  -

[2020-01-29 10:25] stijnfrishert commented on #61
Dependent upon #67

[2020-01-29 17:07] stijnfrishert opened #68 "Write tests"
Need a test suite

 - Ensure LibLSDj still does what it did after I'm done with it
 - Needs less human testing (@urbster1)

[2020-02-06 11:11] tommitytom opened #69 "Support for custom allocators"
There are various places where `malloc` and `free` are used - it would be nice to be able to specify functions to be used in their place

[2020-02-08 22:00] stijnfrishert opened #70 "Check for "rb" at 3 locations and accept if one of them is set"
![image](https://user-images.githubusercontent.com/7056711/74092599-b93d3e00-4ac6-11ea-8ff4-86c704675f58.png)

[2020-02-09 11:43] stijnfrishert opened #71 "Ensure I'm crediting my third party libs correctly"

[2020-02-09 12:09] stijnfrishert commented on #64
After a big overhaul, implemented this on the develop branch. Gonna keep it there for a while so that @urbster1 can play around with it.

Other issues such as this one and #67 will be gathered in a future 2.0.0 release.

[2020-02-09 12:09] #64 closed

[2020-02-09 12:37] stijnfrishert opened #72 "Random 2.0.0 points"
Some random things I'd like to think about before releasing v2.0.0:

- [x] Should I switch from `char` to `uint8_t` where bytes are concerned?
- [x] Make sure all name setters/getters are consistent (and presume max name lengths)
    - Should get functions copy stuff over, or just return `const char*`?
- [ ] Is `lsdj_error_t` the best form of error reporting?

[2020-02-09 17:26] rbong commented on #65
I'd like to try my hand at this issue.

[2020-02-09 18:54] stijnfrishert commented on #65
@rbong Hey that's super! Happy to see you'd like to work on the codebase as well :)

[2020-02-09 19:38] #65 closed

[2020-02-09 19:39] stijnfrishert commented on #65
Will be in the next release as well, @urbster1!

[2020-02-09 19:50] stijnfrishert commented on #69
* Implemented for Saves and Projects.
 * There are some other structures that malloc, such as Chain, Table, etc.
 * Not sure what to do with errors

[2020-02-09 21:10] rbong commented on #56
It seems like this is another issue I can handle

[2020-02-09 22:50] stijnfrishert commented on #56
Sure, I'd say go ahead! Are we all agreeing that it's a good thing the import tool should ignore the working memory song (@rbong I'm assuming you've worked with the tools and lsdj before)?

[2020-02-09 23:14] urbster1 commented on #56
if you're asking me, i'd prefer for anything with .wm in the filename be
ignored and for the first song in the input to go into working mem. but
maybe a flag makes more sense. the main issue here i think was that if you
have two songs that are .wm songs, one of them gets ignored, so at least
that behavior should probably be changed

On Sun, Feb 9, 2020, 5:50 PM Stijn Frishert <notifications@github

[2020-02-11 16:26] urbster1 commented on #61
FX/SPEED has been renamed to CMD/RATE

[2020-02-11 23:16] stijnfrishert commented on #61
Thanks! It's probably the same byte, but changes like these do propose an interesting question. What do we call these functions?

`lsdj_instrument_set_fx_speed()`? `lsdj_instrument_set_cmd_rate()`? Should we include both while one calls the other? People might look for one function over the other, depending on the LSDj version the library user is used to.

[2020-02-11 23:27] urbster1 commented on #61
This one seems obvious, just call it cmd_rate since that's what it will be
in the first stable version since the feature was added. But the P/L/V =>
PITCH change brings up a similar issue since past stable versions have had
P/L/V and future versions will have PITCH (likewise PITCH vs FINETUNE in
kits etc)

On Tue, Feb 11, 2020, 6:16 PM Stijn Frishert <notifications@github.com>
wrote:

[2020-02-12 20:51] stijnfrishert commented on #61
All right, that's good news for this issue, and then we'd have to think about P/L/V

[2020-02-13 15:13] urbster1 commented on #61
right. and previously it was also called VIB TYPE. so we might have to
think it through a bit

On Wed, Feb 12, 2020, 3:51 PM Stijn Frishert <notifications@github.com>
wrote:

[2020-02-16 14:37] rbong commented on #56
I've been thinking more about this issue and I think this would be the most flexible behaviour:

  - Provide a flag to explicitly put a song into working memory
  - Ignore the `.WM` extension and treat these like regular `.lsdsng` files
  - Do not put a song into working memory otherwise

Tried to think of something we could do to guess what the user is trying to do but I don't think you can accou

[2020-02-16 16:36] rbong commented on #56
Just realized that we might have to guess/provide some options for working with directories. If the user specifies `lsdj-import -o lsdj.sav --working-file folder/file.WM.lsdsng folder/` and we're treating the `WM` file as a regular file, the `WM` file will be placed in its own save file as well as working memory, which may or may not be the user's intention. Open to solutions.

[2020-02-18 09:37] stijnfrishert commented on #56
Right, I fully agree with your original original idea; just add a flag to explicitly set a working memory song and otherwise simply don't. Guessing for the user always ends up generating problems in edge cases.

If a folder contains a .WM it would be put in its own slot, at which point I think we shouldn't export it on default in `lsdsng-export` (or at the very least don't if the file_changed flag

[2020-02-18 09:37] stijnfrishert commented on #56
(Accidentally closed)

[2020-02-18 17:40] rbong commented on #56
That's a good idea. To expand on this idea a little bit, I think this behaviour would make sense when importing folders:

  - Check folder for names in the form `*.wm.lsdsng`
  - When one is found, if a working song wasn't specified, no working song was already found, and it's not a duplicate of any file in the folder, use it as the working memory song
  - Otherwise, skip `*.wm.lsdsng` files in fo

[2020-02-19 14:42] stijnfrishert opened #74 "Create test .lsdsng's + tests for fmt version changes"
I'd like to be sure that liblsdj handles fmt version changes well, so let's create some Catch2 tests for that.

[2020-02-19 14:44] stijnfrishert commented on #56
Completely agree on this. And if we (good suggestion) just print out we skipped a couple of files, they'll know and it's up to users to select which WM song they *do* want with the flag.

[2020-02-25 15:48] stijnfrishert commented on #69
Alright, this works now. Still gotta think about errors, but that's a separate issue.

Closing this for now, you can expect this in the upcoming 2.0.0 release, @tommitytom! :)

[2020-02-25 15:48] #69 closed

[2020-02-25 15:49] stijnfrishert commented on #61
So what setting is this exactly? Cause I didn't come across it in any of the version changes.

[2020-02-25 15:50] #67 closed

[2020-02-25 15:50] stijnfrishert opened #75 "Add querying functions for the new envelope system"

[2020-02-25 15:53] stijnfrishert opened #76 "Rethink the error reporting mechanism"
All nice and dandy, `lsdj_error_t`, but:

1. It requires malloc, and the lib shouldn't assume people want that (or even have it available)
2. It's overly complex

[2020-02-25 16:04] urbster1 commented on #61
i got confused and started talking about something else. CMD/RATE (first known as FX/SPEED) controls the speed of C commands as well as P in noise channel (and P/L/V when pitch is set to TICK).

[2020-02-25 22:00] #72 closed

[2020-02-25 22:06] #68 closed

[2020-02-25 22:08] stijnfrishert commented on #61
Hmmm, ok I'm not entirely sure where in Johan's upgrade code that's featured, so I'll look into that too.

[2020-02-25 22:20] #71 closed

[2020-02-26 07:18] stijnfrishert opened #77 "Check for todo's in comments for before release"

[2020-02-26 11:39] #70 closed

[2020-02-26 21:19] stijnfrishert commented on #75
Moving this to post v2.0.0. Due to the new rewrite it's like we don't actually support the new envelope system (no byte gets left behind, SIR!). It's just that lib users won't be able to query for information about the new envelope parameters, and:

1. I'd need to give some thought to what the API should look like
2. It's not as if any of the tools are currently using them
3. The envelope feature

[2020-02-26 21:21] stijnfrishert opened #78 "Add querying options for CMD/RATE (previously called FX/SPEED)"
Asked Johan waddup, because he didn't introduce a fmt version change with this one.

[2020-02-26 21:22] stijnfrishert commented on #61
Ok, this issue can actually be closed, the new v2 shouldn't ignore any settings at all anymore.

Opened #78 for post-v2 handling

[2020-02-26 21:22] #61 closed

[2020-02-26 21:27] stijnfrishert opened #79 "Support tempo's above 255"

[2020-02-26 21:28] stijnfrishert opened #80 "Make v2 handle Drum MAX again"
@urbster1 You said something about this being removed again in some version?

[2020-02-26 21:30] stijnfrishert opened #81 "All name setting funcs should sanitize with allowed characters"

[2020-02-26 21:33] urbster1 commented on #80
It was removed in v6.3.3, although that byte is not overwritten, so if you
load a v6.1 song into v6.3+ and then back to 6.1, it will still apply DRM
MAX as it was originally set.

On Wed, Feb 26, 2020, 4:28 PM Stijn Frishert <notifications@github.com>
wrote:

[2020-02-26 21:36] #79 closed

[2020-02-26 21:55] #81 closed

[2020-02-26 21:56] stijnfrishert commented on #80
Ok that's good news. The set/get funcs could still exist, and beyond 6.3+ it just won't do anything for LSDj :)

[2020-02-26 22:05] #80 closed

[2020-02-26 22:05] #77 closed

[2020-02-26 22:06] stijnfrishert commented on #56
@rbong I'm slowly nearing a v2.0.0 release (gotta rethink the error API and waiting for some test files from @urbster1).

Do you want this issue to get in v2.0.0 as well (I'm assuming you're working on this)?

[2020-02-26 22:15] rbong commented on #56
@stijnfrishert If you can wait a couple of weeks, this can go in v2.0.0

[2020-02-27 10:29] #78 closed

[2020-02-27 10:31] stijnfrishert commented on #56
Hm, I hope to release sooner than that, but then we'll just add this to v2.1.0. :)

No rush either way, just wanted to know what milestone to put this under.

[2020-02-27 16:39] stijnfrishert commented on #76
Using error codes now :)

[2020-02-27 16:39] #76 closed

[2020-03-03 18:04] urbster1 commented on #40
update: this issue can be closed. latest versions of LSDJ now de-dupe tables, chains, and instruments

[2020-03-03 18:04] #40 closed

[2020-04-18 14:34] #74 closed

[2020-05-24 15:22] tommitytom opened #82 "Writing a sav to file removes songs"
If a sav file contains multiple songs, when writing the sav with `lsdj_sav_write_to_file` or `lsdj_sav_write_to_memory`, songs are erroneously removed from the written sav.

Test case:
[code]

Test file:
https://tommitytom.co.uk/liblsdj-bug.sav

This file contains 4 songs:
1. SNDTEST1
2. SNDTEST
3. SNDTES
4. SNDTE

After running the above code, the top 3 songs are missing:

1.
2.
3.
4. SNDTE

[2020-05-26 12:31] urbster1 opened #83 "lsdsng-import directory recursion"
If `-f` is used by lsdsng-export to put songs in folders, it would be nice to recursively check subfolders for .lsdsng files.

[2020-05-26 13:05] urbster1 opened #84 "lsdsng-import songs imported as EMPTY"
a number of the following songs, when imported together into one save, show EMPTY. example lsdsng's attached (attachment removed)

[2020-05-26 13:23] urbster1 commented on #84
thinking about this now, this is probably the same bug as https://github.com/stijnfrishert/libLSDJ/issues/82

[2020-05-26 14:11] stijnfrishert commented on #82
Fixed it! Block allocation table wasn't written out correctly.

[2020-05-26 14:11] #82 closed

[2020-05-26 14:12] stijnfrishert commented on #84
Yeah, quite certain this is the same bug. I'll send you a new version to see if that fixed it.

[2020-05-26 14:58] #84 closed

[2020-07-15 10:12] INFU-AV opened #86 "Multiple ideas!"
Hi 4ntler, thanks for developing this tool, I absolutely love it! I have couple ideas that IMO would improve general experience of usage, making it more accessible and useful:

-Little gui to select the exact project from save
-Ability to import/extract single songs to/from the save
-Ability to reorder/rename songs inside save itself
-Merging 2/multiple songs together (or parts of it, like only ph

[2020-07-15 20:14] urbster1 commented on #86
Hello,
Re: ability to extract single song to/from sav, this is already possible, see flags `-i` and `-n`:
[code]
Importing a single lsdsng file (or more than one) to an existing sav with `lsdsng-import` is also supported, see flag `-s`:
[code]

[2020-07-15 20:16] urbster1 opened #87 "LSDj v8.6.0+ noise shape note support"
In LSDj v8.6.0+, noise channel notes are now specified as full-byte noise shape values instead of musical notes

[2020-07-15 22:10] INFU-AV commented on #86
That's so nice, thanks urbster!

Still, GUI version would be definitely a big plus! :)

[2020-07-15 22:15] urbster1 commented on #86
Keep in mind this is a software library and the tools are mostly proof of
concept - anyone can use this library in their software. For one example of
a project using libLSDJ that has a GUI, check out
https://github.com/InspectorConstructor/lsdjSongManager (although it needs
to be updated to libLSDJ v2)

On Wed, Jul 15, 2020, 6:10 PM INFU-AV <notifications@github.com> wrote:

[2020-07-24 19:34] urbster1 commented on #75
just FYI there is an 8.5.1 stable candidate out. however there are going to be updates to the envelopes (moving from x0-x7 to x0-xF) due to software volume implementation so it probably makes sense to wait to implement until at least v8.8.x is released

[2020-09-29 15:10] urbster1 opened #88 "lsdj-wavetable-import: accept synth, wave index in decimal"
accepting decimal index will allow for better batch processing with for-loops

[2020-10-03 17:13] urbster1 commented on #88
to clarify: if possible, accept both/either 0-F or 0-15 as input

[2020-11-09 06:33] stijnfrishert opened #89 "Reading from virtual I/O failed on Linux"
"i got a weird error using lsdsng-export. i built it in linux mint without issue and it works just fine for regular save files. but passing it a folder gives "ERROR: reading from virtual I/O failed"

Coming from @urbster1

[2020-11-09 06:59] stijnfrishert commented on #89
Well, we never supported doing this in the first place. Bailed out on mac as well (nor could I find any code handling folders there).

Fixed and added now, will be in the next version :)

[2020-11-09 06:59] #89 closed

[2020-11-09 08:43] stijnfrishert commented on #88
There's now a `-d`/`--decimal` flag that interprets the synth/index as decimal instead of hex

[2020-11-09 08:44] #88 closed

[2020-11-09 08:46] stijnfrishert commented on #56
@rbong Any news on this?

If you can't find the time right now that's fine, in which case I might tackle this for the upcoming release (I've found some spare time/motivation lying around :p)

[2020-11-09 10:11] stijnfrishert commented on #83
@urbster1 Wait, the title mentions `lsdsng-import`, but the description mentions `lsdsng-export`. Which one are we talking about?

[2020-11-09 11:45] stijnfrishert commented on #51
* I removed the `--sav` flag, which was used to append songs to.
* Now you can just include multiple `.sav`'s as inputs
* If you `-o` flag mentions a sav that is also in the inputs, it's overwritten

[2020-11-09 11:45] #51 closed

[2020-11-09 11:46] stijnfrishert opened #90 "Should we rename lsdsng-import/export?"
While export does actually still export lsdsng's, import can be used to import both lsdsng's as well as sav's.

Moreover, the names are a bit long and cumbersome. What about `lsdj-import` and `lsdj-export`?

[2020-11-09 11:47] stijnfrishert commented on #90
Though there's also `lsdj-wavetable-import` to take into account. maybe we should go with

`lsdj-song-import`
`lsdj-song-export`
`lsdj-wave-import`

[2020-11-09 15:11] stijnfrishert commented on #86
Hey @INFU-AV! Thanks for taking the time to post your ideas, much appreciated :)

 - A graphical user interface is probably one of the most popular but also hardest feature requests. It's not something that's initially in the mission statement of LibLSDJ (as @urbster1 mentions, the library itself is free for people to build their own GUI with), though in the future I may be someday be crazy enough

[2020-11-09 18:18] rbong commented on #56
No progress on this, sorry. This fell off my radar.

[2020-11-09 19:29] stijnfrishert commented on #56
No problem, thanks for letting me know :)

[2020-11-10 16:54] stijnfrishert commented on #56
* Importer now has a --working-memory flag to provide the working memory song.
 * All .WM files are ignored
   * Only in a folder. When you provide it manually it's just another project slot

Does that work for you, @urbster1?

[2020-11-10 16:54] #56 closed

[2020-11-10 17:49] urbster1 commented on #56
Sure

On Tue, Nov 10, 2020 at 11:54 AM Stijn Frishert <notifications@github.com>
wrote:

[2020-11-10 17:50] urbster1 commented on #90
We can chat about this later but I think it makes sense, in light of the
lsdproj format in the new patcher

On Mon, Nov 9, 2020 at 6:47 AM Stijn Frishert <notifications@github.com>
wrote:

[2020-11-10 17:53] urbster1 commented on #83
both - lsdsng-export places lsdsng files into their own folders with the -f
option. so when calling lsdsng-import, it would be nice to have folder
input as well. otherwise you're stuck manually adding each lsdsng because
each one is in a separate folder. make sense?

On Mon, Nov 9, 2020 at 5:12 AM Stijn Frishert <notifications@github.com>
wrote:

[2020-11-10 17:57] urbster1 commented on #83
actually I think it does have folder input right? but it won't check
subfolders, so if you have one folder as the input but the folder contains
a set of subfolders each with a .lsdsng, none of those songs are added to
the import. that's what the issue is about IIRC

On Tue, Nov 10, 2020 at 12:52 PM Aaron U <urbster1@gmail.com> wrote:

[2020-11-11 05:54] stijnfrishert commented on #83
Aah right! Yeah, it does have folder support, but doesn't read them recursively.

Except for the fact that I happened to add that yesterday when refactoring some code, so I guess this is solved then 😀

[2020-11-11 05:54] #83 closed

[2020-11-11 05:55] stijnfrishert commented on #90
There's a new format? Yes, let's chat. Always found lsdsng had its problems.

[2020-11-11 10:24] stijnfrishert opened #91 "Incorporate format changes up to 8.9.3"
- [x] 8.1.0 (v11)
- [x] 8.6.0 (v12)
- [x] 8.8.0 (v13)
- [x] 8.8.1 (v14)
- [x] 8.8.6 (v15)
- [x] 8.8.8 (v16)
- [x] 8.9.3 (v17)

https://www.littlesounddj.com/lsd/latest/CHANGELOG.txt

[2020-11-11 10:25] stijnfrishert commented on #87
Closed in favour of #91

[2020-11-11 10:25] #87 closed

[2020-11-11 10:25] stijnfrishert commented on #75
Continued at #91

[2020-11-11 10:25] #75 closed

[2020-11-13 12:05] stijnfrishert opened #92 "Wait, is the default instrument byte string correct?!"

[2020-11-13 12:39] stijnfrishert commented on #91
Implemented ADSR setters and getters. Gonna wait for Johan to update the manual to double check if everything is correct.

I've decided that both the env and adsr functions co-exist, and it's up to the user to check fmt version first before calling either. Otherwise it's UB. Diverging within the functions and trying to solve this for users is only going to muddy the interface.

[2020-11-13 14:44] stijnfrishert commented on #91
Not sure what's happening in 8.6.0, gotta ask Johan

[2020-11-13 18:53] stijnfrishert commented on #91
8.8.1:
 - Nothing to do, we're not interpreting command values, just exposing bytes

[2020-11-13 18:54] stijnfrishert commented on #91
8.8.6:
 - Nothing to do, we just expose the ADSR speed bits,

[2020-11-13 18:58] stijnfrishert commented on #91
8.9.3:
 - Nothing to do, we just expose command values without interpreting them

[2020-11-13 18:59] stijnfrishert commented on #91
8.6.0:
 - Added comment to shape about it not being available after 8.6.0

[2020-11-13 19:10] stijnfrishert commented on #92
![image](https://user-images.githubusercontent.com/7056711/99111347-3cf30080-25ec-11eb-9c57-9eb74d304feb.png)

[2020-11-13 19:27] stijnfrishert commented on #91
8.8.8:
 - Moved wave synth/wave to byte 3

[2020-11-13 19:27] stijnfrishert commented on #91
Don't need to do anything for 8.6.0

[2020-11-13 19:28] stijnfrishert commented on #92
Ok, he's not using the default byte string for encoding anymore, just for decoding

[2020-11-13 19:28] #92 closed

[2020-11-13 19:36] #91 closed

[2020-11-20 15:18] rablador commented on #49
Second this

[2020-11-23 23:28] rablador opened #93 "Save file fixes/repairs?"
This is sort of a request, sort of a question and sort of a cry for help. I have a save file that doesn't seem healthy when used outside an emulator or game boy. It runs and loads well, but in the project screen of LSDJ the option to save/load is gone. Also, using eg. libLSDJ to extract song data does not work. Specifically:

`ERROR: the SRAM initialization bytes aren't set to 'jk'`

Could libLSDJ

[2020-11-24 15:24] urbster1 commented on #93
@rablador does it load in LSDPatch? https://github.com/jkotlinski/lsdpatch/releases i'm not entirely sure that it checks for the SRAM init bytes so you might be able to access it with that. if that doesn't work, try the old LSDManager https://github.com/jkotlinski/lsdmanager/releases/

[2020-11-24 15:26] urbster1 commented on #93
@rablador also if you can add the sav to a zip file and attach here, we may be able to take a look

[2020-11-24 19:02] rablador commented on #93
It loads in LSDPatch, but I cannot export anything. With LSDManager I can export, but the end result is not importable back again. Save attached!

[lsdj.sav.zip](https://github.com/stijnfrishert/libLSDJ/files/5592115/lsdj.sav.zip)

[2020-11-24 19:29] urbster1 commented on #93
it looks like what you've got here is what's in the working memory only. this should be possible to export although LSDManager will not let you access it. i'll try manually setting the sav bytes to see if we can at least get a working memory export

[2020-11-24 19:49] urbster1 commented on #93
i've got the .lsdsng here, and it's valid.
[(EMPTY). 0.WM.lsdsng.zip](https://github.com/stijnfrishert/libLSDJ/files/5592315/EMPTY.0.WM.lsdsng.zip)
 but i'm trying to figure out what specifically is disabling the "load/save" menu so i reached out to the LSDJ developer to confirm. i'll attach the .lsdsng here in the meantime, but be aware that importing it into a sav will disable the LSDJ load/save

[2020-11-24 19:57] urbster1 commented on #93
i'm going to try to concatenate the beginning of this sav to the end of a valid sav and see if that works

[2020-11-24 20:23] urbster1 commented on #93
@rablador ok! it worked with the latest LSDPatch if i opened a new sav and then imported the .lsdsng file. here's a working sav
[lsdj-fixtest.sav.zip](https://github.com/stijnfrishert/libLSDJ/files/5592448/lsdj-fixtest.sav.zip)

[2020-11-24 20:23] #93 closed

[2020-11-24 20:45] rablador commented on #93
Wow, thanks a lot! :D

[2020-11-26 07:56] stijnfrishert commented on #93
Hah, happy this all worked out, @rablador!

@urbster1 Have you hear back from Johan about the problem?
We could add a mode

[2020-11-26 07:58] stijnfrishert opened #94 "Export uses a space in filenames when version no has 1 digit"

[2020-11-26 09:56] rablador commented on #93
Upon further I noticed that some parts were a little garbled, like some instruments sounding off. But the bulk was there!

@stijnfrishert I would welcome an option such as the one you propose. :)

[2020-11-26 14:56] #94 closed

[2020-11-26 15:51] urbster1 commented on #93
basically he just said that the sav is pretty messed up! i checked to make sure the '`rb`' bytes were in place and they were, so i'm still not sure what exactly the problem was.

i think this probably makes sense.

[2020-11-27 06:56] stijnfrishert commented on #93
Well, 'rb' is put in the *songs* to check if they're ok and initialized
'jk' is put in the *save* to check if it's ok and initialized

So their case the save itself was probably corrupt, but the song wasn't or something?

[2020-11-27 06:58] stijnfrishert opened #95 "Add option to continue reading even if sav is corrupt"
This might give users the opportunity to save lost songs.

[2020-11-27 07:00] stijnfrishert opened #96 "lsdj-stats"
Would be nice to have a stats tool to show you the amount of space/tables/instruments/etc. you've used

[2020-11-27 07:02] stijnfrishert opened #97 "Graphical User Interface"
I know this is probably the #1 crowdpleaser request.

It hasn't necessarily been liblsdj's aim to provide a GUI (a _lot_ of questions come with that decision), but I'm keeping this issue open to gather information and thoughts.

[2020-11-27 07:03] stijnfrishert opened #98 "A way to merge songs?"
Easy for creating livesets. Per request by Infu (#86)

[2020-11-27 07:03] stijnfrishert commented on #86
@INFU-AV I've created several other issues where we can discuss the separate ideas further. Closing this, if you'd like to talk further I'd welcome any input in the new issues.

#96 #97 #98

[2020-11-27 07:03] #86 closed

[2020-11-27 14:16] urbster1 commented on #93
ah ok. which bytes should be `jk`? i only saw the `rb` bytes listed in the sav format documentation

[2020-11-27 14:53] stijnfrishert commented on #93
0x813E and 0x813F

https://littlesounddj.fandom.com/wiki/File_Management_Structure

[2020-11-27 17:33] urbster1 commented on #93
ah, thanks!

On Fri, Nov 27, 2020 at 9:53 AM Stijn Frishert <notifications@github.com>
wrote:

[2021-02-08 15:29] defensem3ch opened #99 "Support for .lsdprj files"
lsdprj format has been added in the latest LSDPatch release. I believe the the .lsdprj format is simply .lsdsng with kits concatenated. Full support in the import/export tools (maybe the tools should be renamed?) would require a base ROM to patch in the kits and would create a .sav from the song. Preliminary support could probably be added to the current tools by simply disregarding the kit data a

[2021-08-30 12:27] defensem3ch opened #100 "new tool idea: LSDj-diff"
Print a list of differences between two songs (could also be used to show difference between working memory song vs. saved song)

[2022-04-08 17:32] INFU-AV opened #101 "newest Catch2 dependency doesn't work"
Apart from noobie shock that after downloading source I was missing Catch2 dependency in the package (as its softlinked? no clue how exactly github works sorry)
and downloading current Catch2 continues to throw errors!

Catch2-2.13.1 (so release from 07 Sep 2020) thankfully!

Here's the link:
https://github.com/catchorg/Catch2/releases/tag/v2.13.1

[2022-04-08 17:45] INFU-AV opened #102 "Building process (instructions and suggestions:"
Since lack of building instructions I thought of writing my own, please use it as you please and feel free to adjust!

Also, so my suggestion don't get lost, I was thinking it would be convenient for the user to place all compiled executables together in one folder, so users can easily snag them!
===== =====

# Build instructions:

## Make sure you got:
-CMake
-LibLSDJ source code
-Catch2-2.13.1 s

[2022-04-12 20:22] 8lall0 commented on #30
Hi, after 4 years i got my hands on my library, and now it reads everything correctly, i'm even able to decompress the sav and re-compress it onto a new sav file, plus it parses it in a more explicit structure (since my primary goal is to use this library as "documentation" for the sav format, plus the easier cross-compiling feature of Go is a nice plus)

I'm writing here 'cause i'd like to ask yo

[2022-04-12 20:37] defensem3ch commented on #30
Hello - It does seem to be mentioned in the wiki but is only valid for version 6.7.0 https://littlesounddj.fandom.com/wiki/.sav_structure#Instrument_Structure
I believe the instrument format changes between versions of LSDJ, so the library probably doesn't support this - if it did, it has certainly changed in later versions of LSDJ and the wiki is out of date.

[2022-04-12 20:39] 8lall0 commented on #30
Thank you @defensem3ch , i didn't see that!

Yeah, probably it has changed, but should be a good start to at least understand it, thank you again!